/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "Inter";
  src: url("Inter-Variable.woff2") format("woff2"), local("Inter"),
    local("Arial"), local("Helvetica");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PressStart2P";
  src: url("PressStart2P-Regular.woff") format("woff"), local("Press Start 2P"),
    local("Arial Black"), local("Impact");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
