/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-osnova);
  font-weight: var(--font-weight-normal);
  font-variation-settings: "wght" var(--font-weight-normal);
}
body {
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}
.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 368px;
  width: var(--block-width);
  background-color: #fff;
  font-family: var(--font-accent);
  gap: 20px;
  border: 2px solid black;
  margin-bottom: 98px;
  margin-top: 100px;
}
.zag_head {
  font-family: var(--font-accent);
  font-size: 65px;
}
.min_zag_head {
  font-size: 23px;
}
.cards {
  width: var(--block-width);
  display: flex;
  gap: 50px;
  flex-direction: column;
}
.card-post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid black;
}
.title-cards-post {
  font-family: var(--font-osnova);
  font-variation-settings: "wght" var(--font-weight-heading);
  font-size: 18px;
}
.title-cards-post-text {
  padding-left: 10px;
  padding-top: 4px;
  font-family: var(--font-osnova);
  font-variation-settings: "wght" var(--font-weight-heading);
  font-size: 18px;
}
.post-image-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.post-image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__badge {
  position: absolute;
  top: 25px;
  right: 25px;
  color: black;
  font-family: var(--font-accent);
  font-size: 14px;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white;
  opacity: 50%;
}
.p_card-post {
  font-family: var(--font-osnova);
  font-variation-settings: "wght" var(--font-weight-normal);
  font-size: 18px;
  margin-top: 25px;
}
.p_card-post-big {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.p_card-post-small {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.card_button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 8px;
}
.card__icon-button {
  border: 2px solid transparent;
  background-color: white;
  width: 39px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  border: 2px solid black;
  background-color: white;
  font-family: var(--font-accent);
  font-size: 14px;
  width: 130px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: none;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.card__icon-button:focus-visible {
  border-color: #000;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}
.post-defolt-blur {
  filter: blur(2px);
}
.post-defolt-brigtness {
  filter: brightness(200%);
}
.post-defolt-contrast {
  filter: contrast(200%);
}
.post-defolt-saturate {
  filter: saturate(200%);
}
.post-defolt-sepia {
  filter: sepia(100%);
}
.post-defolt-grayscale {
  filter: grayscale(100%);
}
.post-defolt-invert {
  filter: invert(40%);
}
.post-defolt-happy {
  filter: brightness(150%) contrast(170%);
}
.under-batton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: 2px solid black;
  background-color: white;
  width: 335px;
  height: 55px;
  cursor: pointer;
  font-family: var(--font-accent);
  font-size: 14px;
  gap: 8px;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.dialog[open] {
  display: flex;
  width: 353px;
  min-height: 191px;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.dialog_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
}
.dialog-svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}
.zag_dialog {
  text-align: center;
  font-family: var(--font-accent);
  font-size: 14px;
  font-family: Press Start 2P;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: left;
}
.dialog_close_button {
  margin-top: 30px;
  width: 293px;
  height: 38px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-family: var(--font-accent);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: none;
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under-batton span,
.dialog_close_button span,
.card__like-button span {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.under-batton svg {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
}

.under-batton::before,
.dialog_close_button::before,
.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.under-batton:hover::before,
.dialog_close_button:hover::before,
.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus,
.under-batton:focus,
.dialog_close_button:focus {
  box-shadow: 2px 2px 0 #000;
}
.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}
.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}
.like-icon .sparks {
  opacity: 0;
}
.like-icon {
  --main-body-color: transparent;
  --core-color: transparent;
  transform-origin: center;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .like-icon {
  --core-color: var(--hover-color);
  --main-body-color: var(--hover-color);
}

.card__icon-button:hover .main-body {
  transition-delay: 0.05s;
}

.card__icon-button:hover .core {
  transition-delay: 0s;
}

.card__icon-button:active .like-icon {
  --core-color: var(--animation-fill-color);
  --main-body-color: var(--animation-fill-color);
}

.card__icon-button:active .main-body {
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  transition-delay: 0s;
}

.like-icon.is-liked {
  --core-color: var(--animation-fill-color);
  --main-body-color: var(--animation-fill-color);
  --contour-color: var(--animation-fill-color);
  --sparks-color: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  transition: opacity 0.3s linear 0.3s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}
.like-icon.is-liked:hover {
  --core-color: var(--animation-fill-color);
  --main-body-color: var(--animation-fill-color);
}

@media (width <= 375px) {
  .page {
    max-width: 375px;
  }
  .header_content {
    width: 375px;
    max-width: 375px;
    min-height: 327px;
    box-sizing: border-box;
  }
  .zag_head {
    font-family: var(--font-accent);
    font-size: 49px;
  }
  .min_zag_head {
    font-size: 14px;
  }
  .cards {
    width: 375px;
    max-width: 375px;
    box-sizing: border-box;
  }
  .card-post {
    width: 100%;
    box-sizing: border-box;
  }
  .title-cards-post {
    height: auto;
    width: 351px;
  }
  .post-image-container {
    width: 100%;
  }
  .post-image-container img {
    width: 100%;
    max-width: 100%;
  }
  .p_card-post-big,
  .p_card-post-small {
    margin-left: 15px;
    margin-right: 15px;
  }

  .card__badge {
    top: 20px;
    right: 15px;
    font-size: 12px;
  }
  .under-batton {
    width: 306px;
    height: 84px;
    flex-direction: column;
    gap: 5px;
  }
  .dialog[open] {
    width: 341px;
  }
  .dialog_close_button {
    width: 257px;
  }
}
