:root {
  --font-osnova: "Inter-Variable";
  --font-accent: "PressStart2P";
  --font-weight-heading: 700;
  --font-weight-normal: 400;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  
  --block-width: clamp(23.4375rem, 11.7006rem + 50.077vw, 43.75rem);

  
  --contour-color: #000;
  --main-body-color: transparent;
  --core-color: transparent;
  --sparks-color: transparent;
  --hover-color: #000;
  --animation-fill-color: #ff0000;
}
